.post-date {
  margin-bottom: 0.5rem;
}

.post-tags {

}

.tag {
  text-transform: lowercase;
  background: #a2a2a2;
  padding: 0.3rem 0.6rem;
  border-radius: 0.2rem;
  color: white;
  font-size: .8rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.tag-typescript {
  background: #3e96b9;
}

.tag-ruby {
  background: #d84a44;
}

.tag-javascript {
  background: #f7d200;
}

.tag-elixir {
  background: #970ca5;
}

/* Highlights.JS overrides */

pre.highlight {
  padding: 0;
  overflow-y: auto;
}

code.hljs {
  width: max-content;
  min-width: 100%;
}
